In [17]:
'''
MariaDB 연동 TEST
'''
import cx_Oracle


try:
    # 1. db 연동 객체
    conn = cx_Oracle.connect("scott/oracle@localhost:32769/xe")
    
    # 2. sql 실행 객체
    cursor = conn.cursor()
    
    '''
    # 3. table 생성 & 재생성
    sql = """create or replace table goods(
    code int primary key,
    name varchar(30) not null,
    su int not null,
    dan int not null)
    """
    cursor.execute(sql)
    '''
    
    # 4. 레코드 추가
    cursor.execute("insert into goods values(1, 're', 2, 850000)")
    cursor.execute("insert into goods values(2, 'se', 3, 550000)")
    cursor.execute("insert into goods values(3, 'as', 2, 350000)")
    cursor.execute("insert into goods values(4, 'HDTV', 2, 1500000)")
    conn.commit()
    
    # 5. sql문 실행
    sql = "select * from goods"
    cursor.execute(sql)
    data = cursor.fetchall()
    
    for row in data:
        print(row)
    print("전체 레코드 수 :", len(data))
    
except Exception as e:
    print("예외발생 :", e)
    conn.rollback()
finally:
    cursor.close()
    conn.close()

예외발생 : ORA-01017: invalid username/password; logon denied

InterfaceError: not open

In [18]:
import cx_Oracle
conn = cx_Oracle.connect("scott/tiger@localhost:32769/xe")

In [20]:
import cx_Oracle 

cursor = conn.cursor()
sql = "select * from gift"
cursor.execute("select * from gift")
data = cursor.fetchall()
for row in data:
    print(row)
cursor.close()
conn.close()

(1, '참치세트', 1, 100000)
(2, '샴푸세트', 100001, 200000)
(3, '세차용품세트', 200001, 300000)
(4, '주방용품세트', 300001, 400000)
(5, '산악용자전거', 400001, 500000)
(6, 'LCD모니터', 500001, 600000)
(7, '노트북', 600001, 700000)
(8, '벽걸이TV', 700001, 800000)
(9, '드럼세탁기', 800001, 900000)
(10, '양쪽문냉장고', 900001, 1000000)