In [2]:
# 자료구조 : 리스트[], 튜플(), 셋{}, 딕셔너리{}
# 튜플

In [3]:
my_tuple = ("루피", "조로")
my_tuple

('루피', '조로')

In [4]:
my_tuple[0]

'루피'

In [6]:
# my_tuple[1] = "나미"
my_list = list(my_tuple)
my_list

['루피', '조로']

In [7]:
type(my_tuple)

tuple

In [8]:
type(my_list)

list

In [11]:
num = my_tuple.count("조로")
num

1

In [15]:
# 셋 (수학의 집합, 리스트와 동일.. 차이점 중복, ) (합집합, 교집합, 차집합)
my_set = {1, 2, 3, 2}

In [16]:
my_set

{1, 2, 3}

In [17]:
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {4, 5, 6, 7, 8}
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
my_set1.difference(my_set2)

{1, 2, 3}

In [ ]:
my_set1