In [2]:
'''
연산자(Operater)
1. 변수에 값 할당(=)
2. 연산자 : 산술, 관계, 논리
3. print 형식
4. input : 키보드 입력
'''

'\n연산자(Operater)\n1. 변수에 값 할당(=)\n2. 연산자 : 산술, 관계, 논리\n3. print 형식\n4. input : 키보드 입력\n'

In [8]:
# 1. 변수에 값 할당(=)
i = tot = 10
i += 1 # i = i + 1
tot += i # tot = tot + i
print("i = ", i) # i = 11
print("tot = ", tot) # tot = 21

v1 ,v2 = 100, 200
print("v1 = ", v1, "v2 = ", v2) # v1 =  100 v2 =  200

# 변수 값 교체
v1, v2 = v2, v1
'''
tmp = v1
v1 = v2
v2 = tmp
'''
print("v1 = ", v1, "v2 = ", v2) # v1 =  200 v2 =  100

# 패킹(packing) 할당(* 사용)
lst = [1, 2, 3, 4, 5] # vector : 1차원
v1, *v2 = lst
print("v1 = ", v1, "v2 = ", v2) # v1 =  1 v2 =  [2, 3, 4, 5]

*v1, v2 = lst
print("v1 = ", v1, "v2 = ", v2) # v1 =  [1, 2, 3, 4] v2 =  5

i =  11
tot =  21
v1 =  100 v2 =  200
v1 =  200 v2 =  100
v1 =  1 v2 =  [2, 3, 4, 5]
v1 =  [1, 2, 3, 4] v2 =  5

In [18]:
# 2. 연산자 : 산술, 관계, 논리
print("산술연산자")
num1 = 100  # 피연산자1
num2 = 20.5 # 피연산자2

add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2 # 실수 몫
div2 = num1 // num2 # 정수 몫
div3 = num1 % num2 # 나머지 계산
square = num1**1
print(add, sub, mul)
print(div, div2, div3)
print(square)

print("관계연산자") # True or False
# 1) 동등비교
bool_re = num1 == num2
print(bool_re) # False

bool_re = num1 != num2
print(bool_re) # True

# 2) 대소 관계 : >, >=, <, <=
bool_re = num1 >= num2
print(bool_re) # True

bool_re = num1 <= num2
print(bool_re) # False

print("논리 연산자") # or, and, not
bool_re = num1 >= num2 or num1 <= 10
print(bool_re) # True

bool_re = num1 >= num2 and num1 <= 10
print(bool_re) # False

bool_re = not(num1 <= 10) # False -> True
print(bool_re) # True

산술연산자
120.5 79.5 2050.0
4.878048780487805 4.0 18.0
100
관계연산자
False
True
True
False
논리 연산자
True
False
True

In [34]:
# 3. print 형식
help(print) # 함수 도움말
# package > module > function or class
# Help on built-in function print in module builtins:
# print(value, ..., sep=' ', end='\n'
# module builtins: 기본 모듈(Python 설치 시 자동으로 설치되는 모듈)
'''
함수의 인수
매개변수 : 값을 넘겨 받는 함수
파라미터 : 값을 갖는 변수 (대개 함수 내에서 dfault 값)
'''

# 1) 기본 인수
print("value = ", 10 + 20 +30) # value =  60
print("출력1", end = ", ") # 출력1, 출력2
print("출력2")
print("010", "1111", "2222", sep = "-") # 010-1111-2222

# 2) format(value, "형식")
print("원주율 =", format(3.1459, "8.3f")) # 원주율 =    3.146 "8(전체 자릿수).3(소숫점자리)f"
print("금액 =", format(10000, "10d"))    # 금액 =      10000
print("금액 =", format(125000, "3,d"))   # 금액 = 125,000

# 3) print("양식문자" % (값)) # 양식문자(p.22)
num1 = 10; num2 = 20
tot = num1 + num2
print("%d + %d = %d" % (num1, num2, tot))     # 10 + 20 = 30
print("8진수 = %o, 16진수 = %x" % (num1, num1)) # 8진수 = 12, 16진수 = a
print("%s = %.3f" % ("PI", 3.1459))           # PI = 3.146

# 4) 외부 상수 받기
# "{}, {}".format(value1, value2)
print("name : {}, age : {}".format("홍길동", 35))
# name : 홍길동, age : 35
print("name : {1}, age : {0}".format(35, "홍길동"))
# name : 홍길동, age : 35

# format 축약형 : sql
# select * from emp whre name = '홍길동'
name = "홍길동"
age = int(input("나이 : "))
sql = f"select * from emp where name = '{name}' and age = {age}"
# f = format
print(sql) # select * from emp where name = '홍길동' and age = 35

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

value =  60
출력1, 출력2
010-1111-2222
원주율 =    3.146
금액 =      10000
금액 = 125,000
10 + 20 = 30
8진수 = 12, 16진수 = a
PI = 3.146
name : 홍길동, age : 35
name : 홍길동, age : 35
나이 : 35
select * from emp where name = '홍길동' and age = 35

In [38]:
# 4. input("prompt") : 키보드 입력 : 키보드 입력(문자 인식)
a = int(input("첫번째 숫자 입력 : ")) # string -> int
b = int(input("두번째 숫자 입력 : ")) # string -> int
tot = a +b
print("%d + %d = %d" % (a, b, tot))

'''
int(value)   : value -> integer
float(value) : value -> float
str(value)   : value -> string
bool(value)  : value -> boolean
'''

a = float(input("첫번째 숫자 입력 : ")) # string -> float
b = float(input("두번째 숫자 입력 : ")) # string -> float
tot = a + b
print("%.1f + %.1f = %.1f" % (a, b, tot))
print("b = ", b)
print(type(b)) # <class 'float'>

# boolean -> int
print(int(False)) # 0
print(int(True))  # 1

# int -> boolean
print(bool(-123123)) # True(0이 아닌 모든 값은 True로 반환한다.)
print(bool(0)) # False

첫번째 숫자 입력 : 10
두번째 숫자 입력 : 20
10 + 20 = 30
첫번째 숫자 입력 : 30
두번째 숫자 입력 : 40
30.0 + 40.0 = 70.0
b =  40.0
<class 'float'>
0
1
True
False