In [ ]:
'''
MariaDB 연동 TEST
'''
import cx_Oracle


try:
    # 1. db 연동 객체
    conn = cx_Oracle.connect("scott/oracle@localhost:32769/xe")
    
    # 2. sql 실행 객체
    cursor = conn.cursor()
    
    '''
    # 3. table 생성 & 재생성
    sql = """create or replace table goods(
    code int primary key,
    name varchar(30) not null,
    su int not null,
    dan int not null)
    """
    cursor.execute(sql)
    '''
    
    # 4. 레코드 추가
    cursor.execute("insert into goods values(1, 're', 2, 850000)")
    cursor.execute("insert into goods values(2, 'se', 3, 550000)")
    cursor.execute("insert into goods values(3, 'as', 2, 350000)")
    cursor.execute("insert into goods values(4, 'HDTV', 2, 1500000)")
    conn.commit()
    
    # 5. sql문 실행
    sql = "select * from goods"
    cursor.execute(sql)
    data = cursor.fetchall()
    
    for row in data:
        print(row)
    print("전체 레코드 수 :", len(data))
    
except Exception as e:
    print("예외발생 :", e)
    conn.rollback()
finally:
    cursor.close()
    conn.close()

In [19]:
import cx_Oracle
conn = cx_Oracle.connect("scott/tiger@localhost:32769/xe")

DatabaseError: Error while trying to retrieve text for error ORA-01804