In [1]:
'''
선택자(selector)
 - 웹 문서 디자인(css)에서 사용
 - 선택자 : id(#) : 중복 불가, class(.) : 중복 가능
 - html.select("선택자") : 여러 개 element 수집
 - html.select_one("선택자") : 한 개 element 수집, 선택자 인수 사용 가능
'''

# 웹문서 형식에 따라 tag를 할지 select를 할지 선택

from bs4 import BeautifulSoup as bts

file = open("../data/html03.html", encoding = "utf-8")
src = file.read()

html = bts(src, "html.parser")
# 태그 & 선택자 -> element 수집

In [5]:
# 1) id 선택자 : #
table = html.select_one("#tab") # id = "tab"
# print(table) # <table> ~ </table>

# <table><tr><th> or <td>
ths = html.select("#tab > tr > th") # list
print(ths)
print(len(ths)) # 4

for th in ths:
    print(th.string) # tag 내용

[<th id="id"> 학번 </th>, <th id="name"> 이름 </th>, <th id="major"> 학과 </th>, <th id="email"> 이메일 </th>]
4
 학번
 이름
 학과
 이메일

In [6]:
# 2) class 선택자 : .
trs = html.select("#tab > .odd") # 5<tr> -> 2<tr>
print(trs)

for tr in trs:
    # print(tr)
    tds = tr.find_all("td") # list
    for td in tds:
        print(td.string)

[<tr class="odd"> <!-- 3행(홀수) -->
<td> 201602 </td>
<td> 이순신 </td>
<td> 해양학과 </td>
<td> lee@naver.com </td>
</tr>, <tr class="odd"> <!-- 5행 -->
<td> 201604 </td>
<td> 유관순 </td>
<td> 유아교육 </td>
<td> you@naver.com </td>
</tr>]
 201602
 이순신
 해양학과
 lee@naver.com
 201604
 유관순
 유아교육
 you@naver.com

In [8]:
# 3) tag[속성 = "값"] 찾기 * 따옴표 유형 다르게!
trs = html.select("tr[class='odd']")
print(trs)

for tr in trs:
    tds = tr.find_all("td")
    for td in tds:
        print(td.string)

[<tr class="odd"> <!-- 3행(홀수) -->
<td> 201602 </td>
<td> 이순신 </td>
<td> 해양학과 </td>
<td> lee@naver.com </td>
</tr>, <tr class="odd"> <!-- 5행 -->
<td> 201604 </td>
<td> 유관순 </td>
<td> 유아교육 </td>
<td> you@naver.com </td>
</tr>]
 201602
 이순신
 해양학과
 lee@naver.com
 201604
 유관순
 유아교육
 you@naver.com