In [ ]:
from gapminder import gapminder
gapminder.info()
gapminder.head()

In [6]:
gap_year = gapminder["year"]
print(gap_year)

gap_lifeExp_mean = gapminder.groupby("year")["lifeExp"].mean()
gap_lifeExp_mean

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [13]:
# gapminder.groupby(["year", "continet"])("lifeExp").mean()

gapminder.groupby("continent")["country"].nunique()

# gapminder.groupby("year")["country"].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [30]:

'''
 chap05_Function 관련 문제 
 [문3] student(3명의 학생 점수)를 이용하여 다음 조건에 맞게 학생관리 프로로그램의
       함수로 완성하시오.
  <조건1> outer : students() -> 제목(title) 출력 , inner 함수 포함  
  <조건2> inner : tot_age_calc()  -> 총점과 평균 계산 반환
          inner : score_display() -> 학생 이름과 과목점수, 총점, 평균 출력 
  <조건3> 기타 나머지는 출력 예시 참조           

            <<출력 예시>>
    *** 2018년도 2학기 성적처리 결과 ***
-----------------------------------------    
 번호  국어   영어  수학   총점    평균
-----------------------------------------
  1.   90    85    70    245    81.67
  2.   99    90    95    284    94.67
  3.   70    80    100   250    83.33
------------------------------------------
'''
#  [국어,영어,수학]
hong = [90, 85, 70]
lee = [99, 90, 95]
yoo = [70, 80, 100]
student = [hong, lee, yoo]
def students():
    from statistics import mean
    print('\n\t*** 2018년도 2학기 성적처리 결과 ***')
    print('-' * 50)
    print(" 번호\t 국어\t 영어\t 수학\t 총점\t 평균")
    print('-' * 50)
    tot = [0, 0, 0]
    avg = []

    # 평균, 총점 계산
    def tot_age_calc(score):
        from statistics import mean
        s = sum(score)
        m = mean(score)
        return s, m
        

    # 점수 출력
    def score_display(student):
        for i in student:
            s, m = tot_age_calc(i)
            print(" %d. \t %d \t %d \t %d \t %s \t %s"
                  % (i+1, i[0], i[1], i[2], s, m))

    return score_display
a = students()
b = a(student)

	*** 2018년도 2학기 성적처리 결과 ***
--------------------------------------------------
 번호	 국어	 영어	 수학	 총점	 평균
--------------------------------------------------

TypeError: can only concatenate list (not "int") to list

In [31]:
hong = [90, 85, 70]
lee = [99, 90, 95]
yoo = [70, 80, 100]
student = [hong, lee, yoo]
student[0][1]

85