In [9]:
p1 = {"name" : "ruffy", "age" : 17}
p2 = {"name" : "zoro", "age" : 19}
class Pirate:
    def __init__(self, name = "", age = 0):
        self.name = name
        self.age = age
p3 = Pirate("ruppy", 17)
data = []
p = Pirate("루피", 17)
data.append(p)
data.append(Pirate("조로", 20))
data.append(Pirate("나미", 19))
data.append(Pirate("상디", 19))
data.append(Pirate("우솝", 18))
name_list = []
age_list = []
for i in range(len(data)):
    name_list.append(data[i].name)
    age_list.append(data[i].age)
print(name_list)
print(age_list)
import pandas as pd
df = pd.DataFrame({"이름" : name_list, "나이" : age_list})
df

['루피', '조로', '나미', '상디', '우솝']
[17, 20, 19, 19, 18]

   이름  나이
0  루피  17
1  조로  20
2  나미  19
3  상디  19
4  우솝  18

In [19]:
class Pirate:
    def __init__(self, name = "", age = 0): # 생성자 메서드
        self.name = name
        self.age = age
        
    def printName(self):
        print("name.....")
    def set_name(self, name):
        self.name = name
    def get_name(self):
        return self.name
    def set_age(self, age):
        self.age = age
    def get_age(self):
        return self.age
    def to_string(self):
        return self.name, self.age
    
p1 = Pirate()
p1.set_name("루피")
p1.set_age(16)
print(p1.get_name(), p1.get_age())
p2 = Pirate("나미", 19)
print(p2.to_string())

루피 16
('나미', 19)

In [21]:
class Pirate:
    def __init__(self, name = "", age = 0): # 생성자 메서드
        self.name = name
        self.age = age
    def set_name(self, name):
        self.name = name
    def get_name(self):
        return self.name
    def set_age(self, age):
        self.age = age
    def get_age(self):
        return self.age
    def to_string(self):
        return self.name, self.age
    
class Pirate2:
    def __init__(self, name = "", age = 0, gender = ""):
        Pirate.__init__(self, name, age)
        self.gender = gender
    def set_gender(self,gender):
        self.gender = gender
    def get_gender(self):
        return self.gender
    def to_string(self):
        return self.name + "," + self.gender + "," + str(self.age)
    
p2 = Pirate2("조로", 19, "남")
print(p2.to_string())

조로,남,19