In [2]:
from gapminder import gapminder
gapminder.info()
gapminder.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [11]:
gap_year = gapminder["year"]
print(gap_year)

"""
select * from gapminder

sum(), avg(), max(), min()
select year, avg(lifeExp) from gapminder group by year
"""

gap_lifeExp_mean = gapminder.groupby("year")["lifeExp"].mean()
gap_lifeExp_mean

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [19]:
# sql group by절 count(), avg(), max(), min(), sum()
# sql where 절
gapminder.groupby(["year", "continent"])["lifeExp"].mean()

gapminder.groupby("continent")["country"].nunique()

gapminder.groupby("year")["country"].nunique()

year
1952    142
1957    142
1962    142
1967    142
1972    142
1977    142
1982    142
1987    142
1992    142
1997    142
2002    142
2007    142
Name: country, dtype: int64