In [14]:
import pandas as pd
from gapminder import gapminder
gap = gapminder
gap.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [3]:
print(type(gap))
# 2차원 데이터셋 : 판다스의 데이터프레임DataFrame -> R data.frame
lifeExp = gap["lifeExp"]
print(type(lifeExp))
# 1차원 데이터 : 판다스의 시리즈 -> R vector

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [13]:
print(lifeExp.mean())
print(lifeExp.max())
print(lifeExp.median())
print(round(lifeExp.describe())) # R summary()

lifeExp2 = lifeExp.to_frame() # 1704개 1차원을 1704*1 2차원으로 변경
lifeExp2
print(type(lifeExp))
print(type(lifeExp2))

59.47443936619713
82.603
60.7125
count    1704.0
mean       59.0
std        13.0
min        24.0
25%        48.0
50%        61.0
75%        71.0
max        83.0
Name: lifeExp, dtype: float64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [22]:
my_series = pd.Series([3, 1, 10])
print(type(my_series))
print(len(my_series))
my_series.describe()

my_series.sort_values()

<class 'pandas.core.series.Series'>
3

1     1
0     3
2    10
dtype: int64

In [26]:
# 행추출
# 열추출
# 그룹핑
# 열필터링

my_series[my_series > my_series.mean()]

2    10
dtype: int64

In [30]:
gap.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [34]:
gap[gap["year"] > gap["year"].median()]

          country continent  year  lifeExp       pop   gdpPercap
6     Afghanistan      Asia  1982   39.854  12881816  978.011439
7     Afghanistan      Asia  1987   40.822  13867957  852.395945
8     Afghanistan      Asia  1992   41.674  16317921  649.341395
9     Afghanistan      Asia  1997   41.763  22227415  635.341351
10    Afghanistan      Asia  2002   42.129  25268405  726.734055
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[852 rows x 6 columns]