In [1]:
import pandas as pd

In [2]:
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]

In [3]:
type(date_str)

list

In [4]:
idx = pd.to_datetime(date_str)

In [6]:
type(idx)

pandas.core.indexes.datetimes.DatetimeIndex

In [7]:
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [19]:
import numpy as np
np.random.seed(1)
s = pd.Series(np.random.randn(4), index = idx)
s

2018-01-01    1.624345
2018-01-04   -0.611756
2018-01-05   -0.528172
2018-01-06   -1.072969
dtype: float64

In [18]:
type(s)

pandas.core.series.Series

In [20]:
pd.date_range("2020-1-1", "2020-1-31")

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range("2020-1-1", periods = 10)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.date_range("2018-4-1", "2018-4-30", freq="B")

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11',
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='B')

In [23]:
pd.date_range("2018-1-1", "2018-12-31", freq="W")

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06', '2018-05-13', '2018-05-20',
               '2018-05-27', '2018-06-03', '2018-06-10', '2018-06-17',
               '2018-06-24', '2018-07-01', '2018-07-08', '2018-07-15',
               '2018-07-22', '2018-07-29', '2018-08-05', '2018-08-12',
               '2018-08-19', '2018-08-26', '2018-09-02', '2018-09-09',
               '2018-09-16', '2018-09-23', '2018-09-30', '2018-10-07',
               '2018-10-14', '2018-10-21', '2018-10-28', '2018-11-04',
               '2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09', '2018-12-16', '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [24]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-DEC")

DatetimeIndex(['2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [27]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index = pd.date_range("2020-1-1", periods = 4, freq = "M"))

In [29]:
ts

2020-01-31    1.764052
2020-02-29    0.400157
2020-03-31    0.978738
2020-04-30    2.240893
Freq: M, dtype: float64

In [30]:
ts.shift(1)

2020-01-31         NaN
2020-02-29    1.764052
2020-03-31    0.400157
2020-04-30    0.978738
Freq: M, dtype: float64

In [31]:
ts.shift(-1)

2020-01-31    0.400157
2020-02-29    0.978738
2020-03-31    2.240893
2020-04-30         NaN
Freq: M, dtype: float64

In [32]:
ts

2020-01-31    1.764052
2020-02-29    0.400157
2020-03-31    0.978738
2020-04-30    2.240893
Freq: M, dtype: float64

In [34]:
ts2 = ts.shift(2)

In [35]:
ts2

2020-01-31         NaN
2020-02-29         NaN
2020-03-31    1.764052
2020-04-30    0.400157
Freq: M, dtype: float64

In [37]:
ts.shift(1, freq = "W")

2020-02-02    1.764052
2020-03-01    0.400157
2020-04-05    0.978738
2020-05-03    2.240893
Freq: WOM-1SUN, dtype: float64

In [41]:
np.random.seed(0)
ts = pd.Series(np.random.randn(100), index = pd.date_range("2018-1-1", periods = 100, freq = "D"))

In [42]:
ts

2018-01-01    1.764052
2018-01-02    0.400157
2018-01-03    0.978738
2018-01-04    2.240893
2018-01-05    1.867558
                ...
2018-04-06    0.706573
2018-04-07    0.010500
2018-04-08    1.785870
2018-04-09    0.126912
2018-04-10    0.401989
Freq: D, Length: 100, dtype: float64

In [49]:
ts_w = ts.resample("w").mean()
ts_w

2018-01-07    1.032030
2018-01-14    0.376722
2018-01-21   -0.146794
2018-01-28    0.207122
2018-02-04    0.045536
2018-02-11   -0.081312
2018-02-18   -0.398918
2018-02-25   -0.287513
2018-03-04   -0.353319
2018-03-11   -0.567629
2018-03-18   -0.055802
2018-03-25   -0.309877
2018-04-01    0.566217
2018-04-08    0.752381
2018-04-15    0.264451
Freq: W-SUN, dtype: float64

In [48]:
ts

2018-01-01    1.764052
2018-01-02    0.400157
2018-01-03    0.978738
2018-01-04    2.240893
2018-01-05    1.867558
                ...
2018-04-06    0.706573
2018-04-07    0.010500
2018-04-08    1.785870
2018-04-09    0.126912
2018-04-10    0.401989
Freq: D, Length: 100, dtype: float64

In [52]:
ts_m = ts.resample("m").max()
ts_m

2018-01-31    2.269755
2018-02-28    1.950775
2018-03-31    1.895889
2018-04-30    1.785870
Freq: M, dtype: float64

In [53]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    "2018-1-1", periods=60, freq="T"))
ts.head(20)

2018-01-01 00:00:00    1.883151
2018-01-01 00:01:00   -1.347759
2018-01-01 00:02:00   -1.270485
2018-01-01 00:03:00    0.969397
2018-01-01 00:04:00   -1.173123
2018-01-01 00:05:00    1.943621
2018-01-01 00:06:00   -0.413619
2018-01-01 00:07:00   -0.747455
2018-01-01 00:08:00    1.922942
2018-01-01 00:09:00    1.480515
2018-01-01 00:10:00    1.867559
2018-01-01 00:11:00    0.906045
2018-01-01 00:12:00   -0.861226
2018-01-01 00:13:00    1.910065
2018-01-01 00:14:00   -0.268003
2018-01-01 00:15:00    0.802456
2018-01-01 00:16:00    0.947252
2018-01-01 00:17:00   -0.155010
2018-01-01 00:18:00    0.614079
2018-01-01 00:19:00    0.922207
Freq: T, dtype: float64

In [54]:
ts.resample("10T").sum()

2018-01-01 00:00:00    3.247184
2018-01-01 00:10:00    6.685424
2018-01-01 00:20:00    2.551313
2018-01-01 00:30:00   -1.161345
2018-01-01 00:40:00    1.504165
2018-01-01 00:50:00   -2.226607
Freq: 10T, dtype: float64

In [56]:
ts.resample("10T").ohlc()

                         open      high       low     close
2018-01-01 00:00:00  1.883151  1.943621 -1.347759  1.480515
2018-01-01 00:10:00  1.867559  1.910065 -0.861226  0.922207
2018-01-01 00:20:00  0.376426  1.849264 -1.099401  0.407462
2018-01-01 00:30:00 -0.769916  0.676433 -1.093062 -1.093062
2018-01-01 00:40:00 -1.491258  2.383145 -1.491258 -0.461585
2018-01-01 00:50:00 -0.068242  1.713343 -1.147469 -0.437820

In [57]:
ts.resample("30s").bfill()

2018-01-01 00:00:00    1.883151
2018-01-01 00:00:30   -1.347759
2018-01-01 00:01:00   -1.347759
2018-01-01 00:01:30   -1.270485
2018-01-01 00:02:00   -1.270485
                         ...
2018-01-01 00:57:00   -1.079932
2018-01-01 00:57:30   -1.147469
2018-01-01 00:58:00   -1.147469
2018-01-01 00:58:30   -0.437820
2018-01-01 00:59:00   -0.437820
Freq: 30S, Length: 119, dtype: float64