In [2]:
# 자료구조(묶음 데이터)
# 1. 리스트 []
# 2. 튜플 ()
# 3. 셋 {}
# 4. 딕셔너리 {}
score1 = 90
score2 = 88
score3 = 100

score = [90, 88, 100] # index 0, 1, 2
score

[90, 88, 100]

In [3]:
score[0]

90

In [4]:
score[1]

88

In [5]:
score[2]

100

In [6]:
score[-1] # score[2]

100

In [7]:
score[2] = 99
score

[90, 88, 99]

In [8]:
g1 = [0.1, 10.3, 4.5]
g1

[0.1, 10.3, 4.5]

In [9]:
g2 = ["a", "b", "cdef"]
g2

['a', 'b', 'cdef']

In [10]:
g3 = [True, False, False, True]
g3

[True, False, False, True]

In [11]:
g4 = ["a", 10, True]
g4

['a', 10, True]

In [12]:
g5 = ["a", 1, [4, 10, 11]]
g5

['a', 1, [4, 10, 11]]

In [13]:
g5[2]

[4, 10, 11]

In [15]:
g5[2][1]

10

In [16]:
# 리스트 연산

[1, 2, 3] + [5, 10]

[1, 2, 3, 5, 10]

In [17]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
type(mylist)

list

In [32]:
# 삭제
del mylist[9] # mylist[-1]
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# in 연산자
7 in mylist

True

In [36]:
10 in mylist

False

In [38]:
# mylist.함수......... -> 메서드, 멤버함수
# append(데이터) 리스트 끝에 추가
# insert(위치, 데이터) 특정 위치에 추가
# extend(리스트) + 연산자
# remove(데이터) 삭제
# sort() 정렬
# reverse() 역순

# pop() : 데이터 마지막요소를 뺀 요소를 리턴
# index(데이터) : 숫자 일치하는 값의 인덱스
# count(데이터) : 숫자 일치하는 값의 개수
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
mylist.append(7)
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 7]

In [42]:
mylist.insert(3, 7)
mylist

[1, 2, 3, 7, 4, 5, 6, 7, 8, 9, 7]

In [43]:
mylist.extend([6, 6])
mylist

[1, 2, 3, 7, 4, 5, 6, 7, 8, 9, 7, 6, 6]

In [44]:
mylist.remove(9)
mylist

[1, 2, 3, 7, 4, 5, 6, 7, 8, 7, 6, 6]

In [45]:
mylist.sort()
mylist

[1, 2, 3, 4, 5, 6, 6, 6, 7, 7, 7, 8]

In [46]:
mylist.reverse()
mylist

[8, 7, 7, 7, 6, 6, 6, 5, 4, 3, 2, 1]

In [47]:
result1 = mylist.count(7)
result1

3

In [48]:
result2 = mylist.index(7)
result2

1

In [50]:
result3 = mylist.pop(5)
result3

6

In [51]:
mylist

[8, 7, 7, 7, 6, 6, 5, 4, 3, 2, 1]

In [52]:
result4 = mylist.pop()
result4

1

In [53]:
mylist

[8, 7, 7, 7, 6, 6, 5, 4, 3, 2]

In [57]:
mylist[0:10:3] # : start:end 연산자

[8, 7, 5, 2]